/* CSS for main div */
.home-product-grid {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.home-body-divs {
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 40px 25px 25px 25px;
    display: flex;
    flex-direction: column;
}

.home-body-div-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.home-body-div-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}   

.home-body-div-content {
    width: 100%;
}

.home-body-div-title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 8px;
    min-height: 42px;

    /* Below code allows limiting of the contents of a block container to the specified number of lines. */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-body-div-rating {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.home-body-div-rating img {
    width: 110px;
    height: 22px;
    margin: 0
}

.home-body-div-rating a {
    color: #0984cd;
    font-size: 18px;
    margin-top: 3px;
    margin-left: 8px;
}

.home-body-div-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.home-body-div-quantity {
    width: 100%;
    margin-bottom: 20px;
    height: 43px;
    display: flex;
    align-items: center;
}

.home-body-div-quantity select {
    background-color: #f0f0f0;
    border: 1px solid #d5d9d9;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 6px 8px;
    outline: none; /* Prevents the default focus outline */
}

.home-body-div-quantity select:focus {
    border: 4px solid orange;
}

.home-body-div-add {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-body-div-added {
    width: 100%;
    display: flex;
    align-items: center;
    height: 22px; /* giving fixed height so that Add to Cart button stays on its place when added is displayed none */
    margin-bottom: 10px;
    margin-top: auto;
}

.home-body-div-added p {
    font-size: 18px;
    color: green;
    display: none;
}

.home-body-div-added img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
    display: none;
}

.home-body-div-add button {
    display: block;
    border: none;
    border-radius: 30px;
    background-color: #ffd814;
    font-size: 14px;
    height: 38px;
    width: 100%;
}

.home-body-div-add button:hover {
    background-color: #f5cb00;
}

.home-body-div-variation {
    width: 100%;
    margin-bottom: 15px;
}

.home-body-div-variation p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px
}

.home-body-div-variation div {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #adb1b8;
    border-radius: 8px;
    padding: 5px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.home-body-div-variation > div:first-of-type {
    border: 3px solid #e77502
}