/* ------------------------------ Home Page Header Media Queries ------------------------------------ */
@media (max-width: 800px) {
    .div-amazon-img {
        margin-right: 20px;
    }   
}

@media (max-width: 575px) {
    .amazon-logo-large, .div-order-and-return, .div-cart {
        display: none;
    }
    
    .amazon-logo-mobile, .hamburger-icon {
        display: block;
    }

    .div-cart-order {
        margin-left: 20px;
        margin-right: 22px;
    }
}


 /* ----------------------------Home Page Product Grid Media Query -------------------------------- */
 @media (max-width: 1300px) {
    .home-product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    .home-product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .home-product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575px) {
    .home-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .home-product-grid {
        grid-template-columns: 1fr;
    }
}


 /* ----------------------------Checkout Page Header and Main Media Query -------------------------------- */
@media (max-width: 1000px) {
    .checkout-header-text p {
        font-size: 22px;
    }
    .checkout-header-text span {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .checkout-header-amazon-img .large {
        display: none;
    }
    .checkout-header-amazon-img .small {
        display: block;
    }
    .checkout-header-amazon-img {
        align-items: center;
    }
}

@media (max-width: 1120px) {
   .checkout-content-div {
       flex-direction: column;
       gap: 10px;
   }
   .checkout-total {
       order: -1;
       width: 100%;
       margin: 0;
   }
   .checkout-products .product .details {
       flex-direction: column;
       gap: 50px;
   }
   .checkout-main-div {
       width: 500px;
   }
}


 /* ---------------------------- Orders Page Media Query -------------------------------- */
 @media (max-width: 800px) {
    .orders-products-data-all .orders-product-data {
        flex-direction: column;
    }

    .orders-product-data .track-order {
        width: 145px;
        margin-left: 134px;
        margin-top: 10px;
    }
 }

 @media (max-width: 575px) {
    .orders-product .orders-product-head, .orders-product-head .total-and-date {
        flex-direction: column;
    }

    .orders-product-head .date, .orders-product-head .total-price, .orders-product-head .order-uuid {
        display: flex;
        margin-bottom: 8px;
    }

    .orders-product-head .head-heading {
        margin-right: 5px;
    }
 }

 @media (max-width: 450px) {
    .orders-product-data .orders-product-details {
        flex-direction: column;
    }

    .orders-product-details img {
        width: 114.5px;
        height: 150px;
        margin-bottom: 25px;
    }

    .orders-product-details .orders-product-details-data, .orders-product-details-data .buy-again-button, .orders-product-data .track-order {
        width: 100%;
    }

    .orders-product-details-data .buy-again-button img{
        display: none;
    }

    .orders-product-details-data .buy-again-button {
        justify-content: center;
        padding: 10px 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .orders-product-data .track-order {
        margin: 0;
    }
 }