/* ------------------------------ Home Page Header Media Queries ------------------------------------ */
@media (max-width: 800px) {
    .div-amazon-img {
        margin-right: 20px;
    }   
}

@media (max-width: 575px) {
    .amazon-logo-large, .div-order-and-return, .div-cart {
        display: none;
    }
    
    .amazon-logo-mobile, .hamburger-icon {
        display: block;
    }

    .div-cart-order {
        margin-left: 20px;
        margin-right: 22px;
    }
}


 /* ----------------------------Home Page Product Grid Media Query -------------------------------- */
 @media (max-width: 1300px) {
    .home-product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    .home-product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .home-product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575px) {
    .home-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .home-product-grid {
        grid-template-columns: 1fr;
    }
}


 /* ----------------------------Checkout Page Header Media Query -------------------------------- */
@media (max-width: 1000px) {
    .checkout-header-text p {
        font-size: 22px;
    }
    
    .checkout-header-text span {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .checkout-header-amazon-img .large {
        display: none;
    }
    .checkout-header-amazon-img .small {
        display: block;
    }
    .checkout-header-amazon-img {
        align-items: center;
    }
}